body{
    background-color: 	#2D383A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    display: flex;
    background-color: #1B1B1B;
    box-shadow: #66FF66 0px 6px 12px -2px, #66FF66 0px 3px 7px -3px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.nav2{
    display: flex;
}

.nav2>a{
   padding: 2vh 4vh;
   font-size: 3vh;
   text-decoration: none;
   color: #66FF66;
   border: 1px solid #1B1B1B;
   transition: 500ms;
   filter: blur(0.1vh);
}

.nav2>a:hover{
    color: #FAFA37;
    filter: blur(0.2vh);
    border: 1px solid #FAFA37;
    box-shadow: #66FF66 0px 6px 12px -2px, #FAFA37 0px 3px 7px -3px;
}

.nav2>a:active{
    transition: none;
    color: black;
    filter: blur(0.2vh);
    border: 1px solid #FAFA37;
    background-color: #FAFA37;
    box-shadow: #FAFA37 0px 6px 12px -2px, #FAFA37 0px 3px 7px -3px;
}

.nav1>img{
height: 5vh;
padding: 2vh;
transition: 1s;
}

.nav1>img:hover{
    transform: scale(1.4);
    cursor: pointer;
}

#activated{
    transition: none;
    color: black;
    filter: blur(0.2vh);
    border: 1px solid #FAFA37;
    background-color: #FAFA37;
    box-shadow: #FAFA37 0px 6px 12px -2px, #FAFA37 0px 3px 7px -3px;
    
}

#slogan{
    text-align: center;
    font-style: italic;
    color: #66FF66;
    filter: blur(1px);
    text-shadow: 2px 2px #000000;
}

.student-info{
    display: grid;
    grid-template-columns: 35% 65%;
}

.student-info>div>h2{
color: #FF00CC;
text-align: center;
margin-bottom: 20vh;
}

.student-info>div>p{
    color: #F1E788;
    text-align: center;
    font-size: 6vh;
    filter: blur(0.3vh);
    }

    .student-info>div>h3{
        text-align: right;
        color: white;
    }

    .student-info>div>h3>p{
        color: white;
        font-size: 2vh;
        font-weight: normal;
    }








    @media screen and (max-width: 480px) {
        .nav2{
           display: grid;
        }
nav{
    height: 9vh;
    overflow: hidden;
    transition: 1s height ease-in-out;
}

nav:hover{
    height: auto;
}

       .student-info{
        grid-template-columns: auto;
       }
      }







#why-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vh;
   
}

#why-container>div{
    box-shadow: #FAFA37 0px 7px 29px 0px;
     border-radius: 10%;
     text-align: center;
     padding: 5px;
     border: 1px solid #FAFA37;
     cursor: pointer;
}

#why-container>div>h2{
    color: #AAF0D1;

}

#why-container>div>center>img{
    transition: 1s ease-in-out;
}


#why-container>div>center>img:hover{
    transition: 1s ease-in-out;
    transform: scale(1.5);
}